*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-roboto-ss: 'Roboto', sans-serif;
  --ff-playfair-s: 'Playfair Display', serif;

  --light-clr: #F3EED9;
  --brown-clr: #824936;
  --dark-clr: #222C2A;

  --fs-large: 60px;
  --fs-medium: 36px;
  --fs-small: 21px;
  --fs-extra-small: 18px;

  --fw-black: 900;
  --fw-regular: 400;
  --fw-light: 300;

  --max-width: 1128px;
}

body {
  margin: 0;
  font-family: var(--ff-roboto-ss);
  font-size: var(--fs-small);
  line-height: 1.6;
  color: var(--dark-clr);
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-top: 0;
  font-family: var(--ff-playfair-s);
  font-weight: var(----fw-black);
  line-height: 1.1;
}

section {
  padding: 4em 0;
}

.section-title {
  font-size: var(--fs-medium);
  color: var(--light-clr);
}

.section-title--dark {
  color: var(--brown-clr);
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1128px;
}

.intro {
  background: var(--light-clr);
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  color: var(--brown-clr);
  /* min-height: 660px; */
  min-height: 100svh;
  display: flex;
  align-items: center;
}

.intro__text {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: var(--fs-extra-small);
  color: var(--dark-clr);
  margin: 0 0 .25em;
}

.intro__title {
  font-size: 3rem;
}

.section-three {
  background-color: var(--dark-clr);
  color: #fff;
}

.section-four {
  background-color: var(--brown-clr);
  color: #fff;
}

@media only screen and (min-width: 800px) {
  .row {
    display: flex;
    justify-content: space-between;
    gap: 5em;
  }

  .col {
    width: 100%;
  }

  .intro__title {
    font-size: var(--fs-large);
  }

  .section-title--dark {
    text-align: center;
  }
}
